
h1
{
  text-align:center;
  padding:0px 5px 5px 5px;
  padding-top:10px;
}

nav
{
	float: center;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .active{
  background-color:red; 
}

p{
  text-indent: 50px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: steelblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
img 
{
  margin-left: 100px;
  margin-top: 0px;
  margin-bottom: -29px;
}

form {
  border: 3px solid #f1f1f1;
}
	 /* Bordered form */
h2,h3
{
	text-align: center;
	border: none;
}

.buttoncss{
  background-color: #333;
  position: relative;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Full-width inputs */
input[type=text], input[type=password] ,input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: steelblue;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 8%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding-left: 600px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
  padding-right:600px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
textarea
{   width: 100%;
  padding: 602px 20px;
  margin-left: 100px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;	
}

